:root{
    --accent-bright: #91daff;
    --accent: #17a;
    --accent-bright: #ffeab1;
    --accent: #ffc119;
    --header-background: #151515f2;
}

html,
body {
    height: 100%;
    width: 100%;
}

html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #111;
    color: #eee;
}

* {
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid var(--accent-bright);
    box-shadow: 0 0 4px var(--accent);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(145deg, #111 25%, #080808 100%);
}

button {
    cursor: pointer;
    border: none;
    color: #eee;
    font-size: 1rem;
    background-color: transparent;
}

button.active {
    background-color: #333;
}

.pagination {
    display: flex;
    justify-content: right;
    padding: 10px 0;
}

.pagination button {
    min-width: 24px;
    min-height: 24px;
    line-height: 1;
    padding: 2px 0;
    margin: 0px 2px;
    border-radius: 4px;
}

#root {
    position: relative;
    --max-width: 976px;
    --header-height: 64px;
    max-width: var(--max-width);
    min-height: 100%;
    margin: 0 auto;
    background-color: #17171717;
}

.watching-list,
.releases-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 16px;
}

@media (max-width: 768px) {
    .watching-list,
    .releases-list {
        justify-content: center;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--header-background);
}

header>div {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

header .logo svg {
    width: 75px;
    fill: var(--accent);
}

header .logo {
    display: flex;
    outline: none !important;
    box-shadow: none !important;
}

header .logo:focus svg {
    fill: var(--accent-bright);
    filter: drop-shadow(0 0 4px var(--accent));
}

a {
    color: var(--accent);
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 16px;
}

footer>* {
    margin: 0 8px;
}

.search-container {
    position: relative;
    width: 384px;
}

.input-container {
    position: relative;
    width: 100%;
}

input[type="search"] {
    padding: 6px 12px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    color: #eee;
    width: 100%;
    background-color: #0002;
}

input[type="search"]:focus::placeholder {
  color: transparent;
}

.input-adornment {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

@media (max-width: 768px) {
    header .logo {
        margin-left: 5%;
    }
    .input-container {
        width: 90%;
        margin-left: 5%;
    }
}

.search-results {
    position: absolute;
    top: calc(100% + 8px);
    max-height: 90vh;
    overflow-y: auto;
    left: 0;
    width: 100%;
    background-color: var(--header-background);
    border-radius: 4px;
    z-index: 1;
    padding: 8px;
}

@media (max-width: 768px) {
    .search-results {
        position: fixed;
        top: var(--header-height);
        left: 0;
    }
}

.no-results {
    padding: 8px;
    text-align: center;
}

.result {
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    padding: 8px;
}

.result .image {
    width: 64px;
    height: 90px;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.result.watching {
    color: var(--accent-bright);
    text-shadow: 0 0 4px var(--accent);
}

.result.watching .status-bar {
    position: relative;
    top: 100%;
    left: 2.5%;
    width: 95%;
    height: 4px;
    background-color: var(--accent-bright);
    box-shadow: 0 0 4px var(--accent);
}

main {
    margin-top: calc(var(--header-height) + 12px);
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    main {
        margin-top: calc(var(--header-height) + 4px);
    }
}

.section-header {
    margin-bottom: 16px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-background);
    border-radius: 4px;
    padding: 4px 18px;
}

.section-header h3 {
    font-weight: 300;
}

.loading .section-header,
.loading .section-footer {
    background-color: var(--header-background);
    animation: loading 1s infinite ease-in-out;
}

.loading .section-header *,
.loading .section-footer * {
    opacity: 0;
}

.section-footer {
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    padding: 0 18px;
}

.section-footer .pagination {
    padding: 8px 0;
}

.card {
    width: 232px;
    --card-background: #1d2528;
    background-color: var(--card-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    filter: saturate(0.8);
}

.card.loading {
    height: 371px;
    animation: loading 1s infinite ease-in-out;
}

@keyframes loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.card.watching {
    color: var(--accent-bright);
    text-shadow: 0 0 4px var(--accent);
    filter: none;
}

.card .image {
    width: 225px;
    height: 319px;
    margin-top: 4px;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.card .status {
    background-color: var(--card-background);
    width: 32px;
    height: 32px;
    line-height: 28px;
    text-align: center;
    position: absolute;
    border-radius: 4px;
    font-size: 25px;
    top: 8px;
    left: 8px;
}

.card.watching .image{
    opacity: 1;
}

.card.watching .status-bar {
    width: 95%;
    height: 4px;
    background-color: var(--accent-bright);
    box-shadow: 0 0 4px var(--accent);
}

.card p {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 4px;
}

.card small {
    margin-bottom: 4px;
    color: #aaa;
}

.card.watching p {
    font-weight: bold;
}

.details-container {
    padding-top: 38px;
}

.details {
    display: flex;
}

.details .image {
    width: 281px;
    height: 398px;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.loading.details-container {
    pointer-events: none;
}

.loading .details .image {
    background-color: #171717;
    animation: loading 1s infinite ease-in-out;
}

.loading .details .data {
    background-color: #212121;
    animation: loading 1s infinite ease-in-out;
}

.loading .episode-buttons button {
    background-color: #212121;
    color: transparent;
    animation: loading 1s infinite ease-in-out;
}

.details-container.watching .status-bar {
    position: relative;
    top: calc(100% + 8px);
    left: 2.5%;
    width: 95%;
    height: 4px;
    background-color: var(--accent-bright);
    box-shadow: 0 0 4px var(--accent);
}

.details .data {
    width: 100%;
    padding: 16px 2%;
}

.details .data button {
    display: block;
    margin-right: 16px;
    margin-left: auto;
}

@media (max-width: 768px) {
    .details .data button {
        margin-bottom: 8px;
        margin-right: 0;
        margin-left: 0;
    }
}

.details-container.watching .details .data h2 {
    color: var(--accent-bright);
    text-shadow: 0 0 4px var(--accent);
}

.details .data .genres {
    margin-top: 16px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.details .data .genres>* {
    background-color: #181818;
    padding: 4px 8px;
    border-radius: 4px;
}

.details .data .description {
    margin-top: 16px
}

.details .aliases {
    font-size: 0.8rem;
    margin-top: 32px;
}

@media (max-width: 768px) {
    .details {
        flex-direction: column;
        align-items: center;
    }
    .details .data {
        margin-top: 16px;
        width: 95%;
    }
}

.episode-buttons {
    display: flex;
    margin-top: 32px;
}

.episode-buttons div {
    width: 100%;
}

.episode-buttons>button {
    width: 84px;
    flex-shrink: 0;
    border-radius: 4px;
}

.episode-buttons>button.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.episode-list {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 138px;
    overflow-y: auto;
}

.episode-list.center {
    justify-content: center;
}

.episode-list>button {
    width: 32px;
    border-radius: 4px;
    text-align: center;
}

.episode-list>button.active {
    outline: 2px solid var(--accent-bright);
    box-shadow: 0 0 4px var(--accent);
}

.episode-list.s>button {
    font-size: 0.8rem;
}

.episode-list.xs>button {
    font-size: 0.65rem;
}

@media (max-width: 768px) {
    .episode-buttons {
        margin-top: 16px;
        flex-wrap: wrap;
    }
    .episode-buttons>button:first-child {
        margin-top: 8px;
        width: 84px;
        text-align: left;
        margin-left: 5%;
        margin-right: calc(45% - 84px);
    }
    .episode-buttons>button:last-child {
        margin-top: 8px;
        width: 84px;
        text-align: right;
        margin-right: 5%;
        margin-left: calc(45% - 84px);
    }
    .episode-list {
        order: -2;
    }
}

.player {
    margin-top: 8px;
}

.player.loading {
    pointer-events: none;
}

.player .player-iframe {
    background-color: #111;
    background-color: #000;
    width: 100%;
    border: none;
    height: 549px;
}

.loading .player-iframe {
    animation: loading 1s infinite ease-in-out;
}

@media (max-width: 768px) {
    .player .player-iframe {
        height: calc(100vw * 9 / 16);
    }
}

.server-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

@media (max-width: 768px) {
    .server-list {
        justify-content: center;
    }
}

.server-list>* {
    border-radius: 4px;
}

.server-list>small {
    margin-right: 16px;
    opacity: 0.8;
}

.server-list>button {
    padding: 4px 8px;
}

.loading .server-list>* {
    background-color: #212121;
    color: transparent;
    animation: loading 1s infinite ease-in-out;
}
